***当前支持的cuda-go-python基础镜像列表(包含cuda go python编译环境)***
#### Public 公网可拉取
***当前支持的python cuda golang基础编译镜像***

| repo                                                                                     | tag                         | python | cuda | os           |
|------------------------------------------------------------------------------------------|-----------------------------|--------|------|--------------|
{{vars.base_images}}


***当前支持的aiges基础镜像列表***

| repo                                                                      | tag                    | python | cuda | os           |
|---------------------------------------------------------------------------|------------------------|--------|------|--------------|
{{vars.aiges_images}}

