[submodule "aiges_demo"]
	path = aiges_demo
	url = git@github.com:iflytek/aiges_demo.git
[submodule "ai_cpython_wrapper"]
	path = ai_cpython_wrapper
	url = git@github.com:iflytek/aiges_c_python_wrapper.git
