[submodule "ai_cpython_wrapper"]
	path = ai_cpython_wrapper
	url = git@github.com:xfyun/aiges_c_python_wrapper.git
[submodule "aiges_demo"]
	path = aiges_demo
	url = git@github.com:iflytek/aiges_demo.git
[submodule "aiges-xtest"]
	path = aiges-xtest
	url = git@github.com:iflytek/aiges-xtest.git
